html{
  min-height:100%;
  width: 100%;
  overflow-x: hidden;
}
body{
  min-height: 100%;
  font-size: 16px;
  padding-left: 176px;
  background: #f5f5f5;
  position: relative;
  overflow-x: hidden;
  width: 100%;
}


#nav{
  width: 176px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #dddddd;
  z-index: 1000;
  background: #222222;
}
  #nav .profile{
    padding: 30px 0 16px;
    text-align: center;
  }
    #nav .profile img{
      border-radius: 50%;
      width: 80px;
      border: 3px solid #222222;
      box-shadow: 0 0 0 5px rgba(255,255,255,.1);
    }
  #nav .nav-group{
    padding: 16px 0;
    border-top: 1px solid #333333;
  }
  #nav .nav-group.first{
    padding-top: 0;
    border-top: none;
  }
  #nav a{
    display: block;
    padding: 10px 20px;
    color: #aaaaaa;
    text-decoration: none;
    font-weight: 300;
  }
  #nav a.active,#nav a:hover{
    color: #79BF46;
  }
#nav-mobile{
  display: none;
  background: #ffffff url('../images/logo-b2.png') no-repeat center center;
  background-size: auto 30px;
  padding: 3px 24px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 900;
  box-shadow: 0 1px 3px rgba(155,155,155, .1);
  border-bottom: 1px solid #e0e0e0;
}
  #nav-mobile a.toggler, #nav-mobile a.add-new{
    color: #79BF46;
    text-decoration: none;
    font-size: 1.8em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
  }
  #nav-mobile a.add-new{
    position: relative;
    top: 1px;
  }
  #nav-mobile img.logo{
    height: 20px;
  }


.site-canvas {
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
}
.main-content{
  max-width: 816px;
  margin: 0 auto;
}
.feed{
  padding: 28px 0;
  border-bottom: 1px solid #dddddd;
  color: #444444;
}
  a.feed-title{
    color: #444444;
    font-size: 1.6em;
    display: block;
    text-decoration: none;
  }
  .feed-title h2{
    font-size: 1em;
    line-height: 1.2em;
    margin-top: 0;
  }
  .feed-body{
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 300;
  }
    .feed-info{
      max-height: 275px;
      overflow: hidden;
    }
    .feed-source, .feed-text{
      display: block;
    }
    .feed-source{
      font-size: .9em;
      color: #999999;
      margin-bottom: 5px;
    }
    .feed-text.text-only{
      column-gap: 24px;
      -webkit-column-gap: 24px;
      -moz-column-gap: 24px;
      -o-column-gap: 24px;
      column-count: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      -o-column-count: 2;
      max-height: 190px;
    }
    .feed-img-wrapper{
      max-height: 280px;
      overflow: hidden;
    }
    .feed-img-wrapper img{
      width: 100%;
    }
  .feed-action{
    margin-top: 10px;
  }
  .feed-action a{
    font-size: .9em;
    color: #999999;
    margin-right: 20px;
    font-weight: 300;
    text-decoration: none;
  }
  .feed-action a:hover{
    color: #79BF46;
  }
  .feed-action a i{
    font-size: 1.2em;
    margin-right: 3px;
  }

.feed-read{
  padding: 28px 0;
}
  .feed-read .feed-title h2{
    font-size: 1.4em;
    margin-top: 30px;
    font-weight: 300;
  }
  .feed-read .feed-source{
  }
  .feed-read .feed-action{
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddddd;
    padding: 10px 0;
  }



@media (min-width: 320px) and (max-width: 991px){
  body{
    padding-left: 0;
    font-size: 14px;
    overflow-x: hidden;
  }
  #nav{
    width: 220px;
    left: -220px;
  }
  #nav-mobile{
    display: block;
  }
  #nav,
  #nav-mobile,
  .site-canvas{
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  body.show-nav{
    height: 100%;
    overflow: hidden;
  }
  .show-nav #nav,
  .show-nav #nav-mobile,
  .show-nav .site-canvas {
    -webkit-transform: translateX(220px);
    transform: translateX(220px);
    -webkit-transform: translate3d(220px, 0, 0);
    transform: translate3d(220px, 0, 0);
  }
  .main-content{
    padding-top: 40px;
  }
  .feed, .feed-read{
    padding-left: 24px;
    padding-right: 24px;
  }
    a.feed-title{
      font-size: 1.4em;
    }
    .feed-body{
      font-size: 1em;
      margin-top: 10px;
    }
    .feed-info{
      max-height: 145px;
    }
      .feed-text.text-only{
        max-height: 150px;
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -o-column-count: 1;
      }
    .feed-img-wrapper{
      max-height: 150px;
    }
  .feed-read .feed-title h2{
    font-size: 1.1em;
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  body{
    font-size: 15px;
  }
  .feed-body{
    font-size: 1.1em;
    margin-top: 10px;
  }
  .feed-info{
    max-height: 170px;
  }
  .feed-img-wrapper{
    max-height: 180px;
  }
}

@media (min-width: 992px){
  .main-content{
    padding: 0 24px;
  }
}
