<div id="nav">
  <div class="profile">
    <img src="./images/users/53d3d4b5603d748e25bfafe5.jpg" alt="">
  </div>
  <div class="nav-group first">
    <a href="/" class="active">
      <i class="fa fa-fw fa-home"></i> Home
    </a>
    <a href="/">
      <i class="fa fa-fw fa-compass"></i> Explore
    </a>
    <a href="/">
      <i class="fa fa-fw fa-search"></i> Search
    </a>
  </div>
  <div class="nav-group">
    <a href="/">
      <i class="fa fa-fw fa-user"></i> Profile
    </a>
    <a href="/">
      <i class="fa fa-fw fa-heart"></i> Interest
    </a>
    <a href="/">
      <i class="fa fa-fw fa-bookmark"></i> Saved
    </a>
  </div>
  <div class="nav-group">
    <a href="/">
      <i class="fa fa-fw fa-cogs"></i> Settings
    </a>
  </div>
  <div class="nav-group">
    <a href="/logout">
      <i class="fa fa-fw fa-sign-out"></i> Logout
    </a>
  </div>
</div>
